<!doctype html>
<html lang="en">
<head>
    <% include top %>
    <title>框架库文档</title>
</head>
<body class="body-layer">
    <% include head %>
    <input id="input_nav" type="hidden" value="lib"/>
    <bodyer>
        <div class="body-wrapper">
            <div class="panel panel-default fs24">
                <div class="panel-heading fs32">框架库文档</div>
                <div class="panel-body">
                    <p>本规范仅对现阶段具备参考作用。</p>
                    <p>项目暂用jquery库作为核心依赖库，全站使用同一份jquery版本</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="label label-warning">外链</span><a href="http://jquery.cuishifeng.cn" target="_blank">jquery API</a></li>
                    <li class="list-group-item"><span class="label label-warning">外链</span><a href="https://github.com/seajs/seajs/issues/266" target="_blank">Sea.js API</a></li>
                </ul>
            </div>
        </div>
    </bodyer>
</body>
</html>

<script>

</script>