<!doctype html>
<html lang="en">
<head>
    <% include top %>
    <title>工具</title>
</head>
<body class="body-layer">
    <% include head %>
    <input id="input_nav" type="hidden" value="tool"/>
    <bodyer>
        <div class="body-wrapper">
            <div class="panel panel-default fs24">
                <div class="panel-heading fs32">工具</div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="formatJson.html">JSON格式化</a></li>
                    <li class="list-group-item"><a href="runjs.html">运行JS</a></li>
                </ul>
            </div>
        </div>
    </bodyer>
</body>
</html>

<script>

</script>