<!doctype html>
<html lang="en">
<head>
  <% include top %>
  <title>首页</title>
  <script type="application/javascript" src="js/modules/index.js"></script>
</head>
<body class="body-layer index-layer">
    <% include head %>
    <input id="input_nav" type="hidden" value="index"/>
    <bodyer>
        <div class="body-wrapper">
            <section class="section section1">
                <div class="body-panel-title">规范文档</div>
                <div class="panel-content content">
                    <p>编码规范</p>
                    <p>前后端数据交互文档</p>
                </div>
            </section>

            <section class="section section2">
                <div class="body-panel-title">框架库文档</div>
                <div class="panel-content content">
                    <p>jQuery</p>
                    <p>RequireJs</p>
                </div>
            </section>
            <section class="section section3">
                <div class="body-panel-title">插件</div>
                <div class="panel-content content">
                    <p>jquery.touch.js</p>
                    <p>jquery.drag.js</p>
                </div>
            </section>
            <section class="section section4">
                <div class="body-panel-title">工具</div>
                <div class="panel-content content">
                    <p>在线执行JS。</p>
                    <p>HTML格式化。</p>
                    <p>JSON格式化。</p>
                </div>
            </section>
        </div>
    </bodyer>
    <aside class="aside">
        <a href="#0" class="item"><span class="dot"></span></a>
        <a href="#1" class="item"><span class="dot"></span></a>
        <a href="#2" class="item"><span class="dot"></span></a>
        <a href="#3" class="item"><span class="dot"></span></a>
    </aside>
</body>
</html>

<script>
    lib.use(['modules/index']);
</script>
