<!doctype html>
<html lang="en">
<head>
    <% include top %>
    <title>插件</title>
</head>
<body class="body-layer">
<% include head %>
<bodyer>
    <input id="input_nav" type="hidden" value="plugin"/>
    <div class="body-wrapper">
        <div class="panel panel-default fs24">
            <div class="panel-heading fs32">
                插件
            </div>
            <div class="panel-body">
                <p>项目暂用jquery库作为核心依赖库，全站使用同一份jquery版本</p>
            </div>
            <ul class="list-group"><%- render%></ul>
        </div>
    </div>
    <div class="bottomBar bottomBar-black">
        <button id="btn_add" class="btn btn-success btn-sm">新增</button>
        <a href="edit.html?id=plugin" class="btn btn-primary btn-sm">修改本页</a>
    </div>
</bodyer>
</body>
</html>
<script>
    lib.use(['modules/module']);
</script>
